.mm-listview > li:not(.mm-divider)::after{
	border-bottom-width:2px;
}
.mm-listview > li > a, .mm-listview > li > span{
	padding:20px 10px 20px 20px;
}
.mm-menu.mm-offcanvas.mm-right {
	left: auto
}
html.mm-right.mm-opening .mm-menu~.mm-slideout {
	transform: translate(-80%, 0);
	transform: translate3d(-80%, 0, 0)
}
@media all and (max-width:175px) {
	html.mm-right.mm-opening .mm-menu~.mm-slideout {
		transform: translate(-140px, 0);
		transform: translate3d(-140px, 0, 0)
	}
}
@media all and (min-width:550px) {
	html.mm-right.mm-opening .mm-menu~.mm-slideout {
		transform: translate(-440px, 0);
		transform: translate3d(-440px, 0, 0)
	}
}
html.mm-front .mm-slideout {
	transform: none!important;
	z-index: 0
}
html.mm-front #mm-blocker {
	z-index: 1
}
html.mm-front .mm-menu.mm-offcanvas {
	z-index: 2
}
.mm-menu.mm-offcanvas.mm-front, .mm-menu.mm-offcanvas.mm-next {
	transition: transform .4s ease;
	transform: translate(-100%, 0);
	transform: translate3d(-100%, 0, 0)
}
.mm-menu.mm-offcanvas.mm-front.mm-right, .mm-menu.mm-offcanvas.mm-next.mm-right {
	transform: translate(100%, 0);
	transform: translate3d(100%, 0, 0)
}
.mm-menu.mm-offcanvas.mm-top {
	transform: translate(0, -100%);
	transform: translate3d(0, -100%, 0)
}
.mm-menu.mm-offcanvas.mm-bottom {
	transform: translate(0, 100%);
	transform: translate3d(0, 100%, 0)
}
.mm-menu.mm-offcanvas.mm-bottom, .mm-menu.mm-offcanvas.mm-top {
	width: 100%;
	min-width: 100%;
	max-width: 100%
}
.mm-menu.mm-offcanvas.mm-bottom {
	top: auto
}
html.mm-opening .mm-menu.mm-offcanvas.mm-front, html.mm-opening .mm-menu.mm-offcanvas.mm-next {
	transform: translate(0, 0);
	transform: translate3d(0, 0, 0)
}
.mm-menu.mm-offcanvas.mm-bottom, .mm-menu.mm-offcanvas.mm-top {
	height: 80%;
	min-height: 140px;
	max-height: 880px
}
.mm-listview > li > a, .mm-listview > li > span{
	color: white;
}
.mm-menu.mm-theme-dark {
	background: #585858;
	border-color: rgba(0, 0, 0, .15);
	color: rgba(255, 255, 255, 1)
}
.mm-menu.mm-theme-dark .mm-navbar a, .mm-menu.mm-theme-dark .mm-navbar>* {
	color: rgba(255, 255, 255, 1)
}
.mm-menu.mm-theme-dark .mm-btn:after, .mm-menu.mm-theme-dark .mm-btn:before {
	border-color: rgba(255, 255, 255, .4)
}
.mm-menu.mm-theme-dark .mm-listview {
	border-color: rgba(0, 0, 0, .15)
}
.mm-menu.mm-theme-dark .mm-listview>li .mm-next:after {
	border-color: rgba(255, 255, 255, .4)
}
.mm-menu.mm-theme-dark .mm-listview>li a:not(.mm-next) {
	-webkit-tap-highlight-color: rgba(0, 0, 0, .1);
	tap-highlight-color: rgba(0, 0, 0, .1)
}
.mm-menu.mm-theme-dark .mm-listview>li.mm-selected>a:not(.mm-next), .mm-menu.mm-theme-dark .mm-listview>li.mm-selected>span {
	background: rgba(0, 0, 0, .1)
}
.mm-menu.mm-theme-dark .mm-listview>li.mm-opened.mm-vertical>.mm-panel, .mm-menu.mm-theme-dark .mm-listview>li.mm-opened.mm-vertical>a.mm-next, .mm-menu.mm-theme-dark.mm-vertical .mm-listview>li.mm-opened>.mm-panel, .mm-menu.mm-theme-dark.mm-vertical .mm-listview>li.mm-opened>a.mm-next {
	background: rgba(255, 255, 255, .05)
}
.mm-menu.mm-theme-dark .mm-divider {
	background: rgba(255, 255, 255, .05)
}
.mm-menu.mm-theme-dark label.mm-check:before {
	border-color: rgba(255, 255, 255, .8)
}
.mm-menu.mm-theme-dark em.mm-counter {
	color: rgba(255, 255, 255, 1)
}
.mm-menu.mm-theme-dark .mm-fixeddivider span {
	background: rgba(255, 255, 255, .05)
}
.mm-menu.mm-keyboardfocus a:focus {
	background: rgba(0, 0, 0, .1)
}
.mm-menu.mm-shadow-page.mm-theme-dark:after {
	box-shadow: 0 0 20px rgba(0, 0, 0, .5)
}
.mm-menu.mm-shadow-panels.mm-theme-dark .mm-panel.mm-opened:nth-child(n+2) {
	box-shadow: 0 0 20px rgba(0, 0, 0, .5)
}
.mm-menu.mm-theme-dark .mm-search input {
	background: rgba(255, 255, 255, .3);
	color: rgba(255, 255, 255, 1)
}
.mm-menu.mm-theme-dark .mm-noresultsmsg {
	color: rgba(255, 255, 255, 1)
}
.mm-menu.mm-theme-dark .mm-indexer a {
	color: rgba(255, 255, 255, 1)
}
.mm-menu.mm-hoverselected.mm-theme-dark .mm-listview>li>a.mm-fullsubopen:hover+span, .mm-menu.mm-hoverselected.mm-theme-dark .mm-listview>li>a:not(.mm-fullsubopen):hover {
	background: rgba(0, 0, 0, .1)
}
.mm-menu.mm-parentselected.mm-theme-dark .mm-listview>li>a.mm-selected.mm-fullsubopen+a, .mm-menu.mm-parentselected.mm-theme-dark .mm-listview>li>a.mm-selected.mm-fullsubopen+span, .mm-menu.mm-parentselected.mm-theme-dark .mm-listview>li>a.mm-selected:not(.mm-fullsubopen) {
	background: rgba(0, 0, 0, .1)
}
.mm-menu.mm-theme-dark label.mm-toggle {
	background: rgba(0, 0, 0, .15)
}
.mm-menu.mm-theme-dark label.mm-toggle:before {
	background: #333
}
.mm-menu.mm-theme-dark input.mm-toggle:checked~label.mm-toggle {
	background: #4bd963
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}
a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
a:hover, a:active {
	outline: 0
}
input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none
}
textarea {
	overflow: auto;
	vertical-align: top
}
@media print {
	* {
		color: #000!important;
		text-shadow: none!important;
		background: transparent!important;
		box-shadow: none!important
	}
	a, a:visited {
		text-decoration: underline
	}
	a[href]:after {
		content: " (" attr(href) ")"
	}
	abbr[title]:after {
		content: " (" attr(title) ")"
	}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		content: ""
	}
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid
	}
	thead {
		display: table-header-group
	}
	tr, img {
		page-break-inside: avoid
	}
	img {
		max-width: 100%!important
	}
	@page {
		margin: .5cm
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3
	}
	h2, h3 {
		page-break-after: avoid
	}
}
body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	background-color: #fff
}
a {
	text-decoration: none
}
a:hover {
	text-decoration: none
}
.row {
	margin-left: -20px;
	*zoom: 1
}
.row:before, .row:after {
	display: table;
	line-height: 0;
	content: ""
}
.row:after {
	clear: both
}
[class*="span"] {
	float: left;
	min-height: 1px;
	margin-left: 0
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 945px;
	padding: 0 0 0 5px;
}
.span12 {
	width: 980px
}
.span11 {
	width: 860px
}
.span10 {
	width: 780px
}
.span9 {
	width: 700px
}
.span8 {
	width: 620px
}
.span7 {
	width: 540px
}
.span6 {
	width: 660px
}
.span5 {
	width: 380px
}
.span4 {
	width: 300px
}
.span3 {
	width: 240px
}
.span2 {
	width: 140px
}
.span1 {
	width: 60px
}
.container {
	margin-right: auto;
	margin-left: auto;
	*zoom: 1
}
.container:before, .container:after {
	display: table;
	line-height: 0;
	content: ""
}
.container:after {
	clear: both
}
.container-fluid {
	padding-right: 20px;
	padding-left: 20px;
	*zoom: 1
}
.container-fluid:before, .container-fluid:after {
	display: table;
	line-height: 0;
	content: ""
}
.container-fluid:after {
	clear: both
}
p {
	margin: 0 0 10px
}
h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-weight: bold;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-weight: normal;
	line-height: 1;
	color: #999
}
h1, h2, h3 {
	line-height: 40px
}
h1 {
	font-size: 38.5px
}
h2 {
	font-size: 31.5px
}
h3 {
	font-size: 24.5px
}
h4 {
	font-size: 17.5px
}
h5 {
	font-size: 14px
}
h6 {
	font-size: 11.9px
}
ul, ol {
	padding: 0;
	margin: 0 0 10px 25px
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 0
}
li {
	line-height: 20px
}
ul.unstyled, ol.unstyled {
	margin-left: 0;
	list-style: none
}
ul.inline, ol.inline {
	margin-left: 0;
	list-style: none
}
ul.inline>li, ol.inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px
}
blockquote {
	padding: 0 0 0 15px;
	margin: 20px 0 20px 20px;
}
blockquote p {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 300;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: ""
}
form {
	margin: 0 0 20px
}
label, input, button, select, textarea {
	font-size: 18px;
	font-weight: normal;
	line-height: 20px
}
input, button, select, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
label {
	display: block;
	margin-bottom: 5px
}
input, textarea, .uneditable-input {
	width: 206px
}
textarea {
	height: auto
}
html {
	min-height:101%;
}

/* ====================== START TYPOGRAPHY ====================== */
.mobilemenu{
	width:71px;
	height:80px;
}
.mobilelogo{
	height:80px;
	width:80px;
}
.mobilenav{
	background:#ffffff;
	text-align: center;
	position: fixed;
	margin-bottom:10px;
	width:980px;
	z-index:9999;
	border-bottom: 3px solid #c3c3c3;
}
code,
body,
li, 
address, 
dd, 
blockquote, 
td, 
th,
.textwidget { 
	font-size:14px; 
	line-height:1.8em;
	font-family:'Abel',Verdana, Geneva, sans-serif; 
	font-weight: normal;
}
body,
li,
address,
dd,
blockquote { 
	color:#545252;
} 
h1,
h2,
h3,
h4,
h5,
h6,
dl,
ul,
ol { 
	margin:0.8em 0 0.3em;
}   
p{
	margin:0;
}
h1,
h2,
h3,
h4,
h5,
h6 { 
	font-family:'Lusitana',Verdana, Geneva, sans-serif; 
	font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 { 
	font-family:'Lusitana',Verdana, Geneva, sans-serif; 
}
   
h1 {
	font-size: 28px;
}
h2 {
	font-size: 26px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
	margin:15px auto;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}
/* ====================== END TYPOGRAPHY ====================== */

/* ====================== START ELEMENTS ====================== */
.bread{
	margin-top:30px;
}

a { 
	color:#333;
	outline: none; 
	border:none;
	font-weight:normal; 
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
}
a:hover {
	color:#d14a2b;
	border-bottom:dotted 1px;
}
/*
a.post-edit-link {  
	font-family:'Abel',Verdana, Geneva, sans-serif;
	font-size:14px;
}
a.post-edit-link:hover {  
	color:#333;
}
*/
.clear { 
	clear:both;
}
.left {
	float:left;
}
.right {
	float:right;
}
.title i {
	padding: 0;
	margin: 0 10px 0 0;
	line-height: 50%;
}

::selection {
	background: #ff6644;
	color:#fff; 
	}
::-moz-selection {
	background: #ff6644;
	color:#fff; 
}

.select-menu {
	display:none;
	visibility:hidden;
}

span.messaggeok {
	font-weight:bold;
}
span.error {
	display:none;
	color:#b93333;
	font-weight:bold;
}

.rmbuttonpbt {
	background:#ff6644;
	padding:10px;
	color:#fff;
	font-weight:bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:10px auto 5px auto;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	font-family: 'Abel', sans-serif;
	font-size:16px;
	width:95px;
	text-align:center;
	float:none;
	position:relative;
	display: block;
	line-height: 1.6em;
}

.rmbuttonpbt:hover {
	background:#d14a2b;
	color:#fff;
	text-decoration:none;
	border-bottom:none;
}
.btn {
	font-family:'Abel',Verdana, Geneva, sans-serif; 
}
.btn.right a {
	color:#616161;
}

iframe, 
embed, 
object, 
video {
	max-width:100%;
}

/* ====================== END ELEMENTS ====================== */

/* ====================== START SECTIONS ====================== */
.headerbwrap { 
	position:relative;
	text-align:center;
/*margin:0;
padding:0;*/
}
#footerbwrap { 
	color:#fff;	
	position:relative; 
	margin-top:50px;
	background:url(http://3.bp.blogspot.com/-hID4qJiWRK0/U52cx5q_UtI/AAAAAAAAKWg/R5_LJCulwT0/s1600/pattern2.png) repeat #333;
	border-top:solid 4px #ff6644;
}
#footerbwrap ul, 
#sidebar ul { 
	list-style:none;
	font-weight: normal;
	color:#fafafa;
	margin:0;
}
#footerbwrap a { 
	line-height:1.9em;
	-webkit-transition: all .3s ease;
	font-family:'Abel',Verdana, Geneva, sans-serif;
	font-size:14px;
}
.footerprofile{
	line-height:1.9em;
	-webkit-transition: all .3s ease;
	font-family:'Abel',Verdana, Geneva, sans-serif;
	font-size:14px;
}
#footerbwrap a:hover { 
	color:#d14a2b;
}

#footerbwrap p,
#footerbwrap a {
	color:#fff;
}

#sidebar .sidebar-box {
	padding:0 20px;
}
.span8.left-sidebar {
	float:right;
}
.span8.right-sidebar {
	float:left;
}

#blogpbt,
#blogpbt .pin-article.span8,
.span8.left-sidebar,
.span8.left-sidebar  {
	margin-bottom:25px;
}

#sidebar h3.title { 
	padding: 0;
	margin: 0 0 20px 0;
	position:relative;
	font-size:28px;
}
#footerbwrap .widget h2 { 
	font-size: 20px;
	margin: 0;
	padding: 0 0 20px 0;
}
#footerbwrap .widget h3 { 
	font-size: 20px;
	margin: 0;
	padding: 20px 0;
}

#footerbwrap select, 
#footerbwrap textarea,
#footerbwrap input[type="text"],
#footerbwrap input[type="password"],
#footerbwrap input[type="datetime"], 
#footerbwrap input[type="datetime-local"], 
#footerbwrap input[type="date"],
#footerbwrap input[type="month"],
#footerbwrap input[type="time"],
#footerbwrap input[type="week"],
#footerbwrap input[type="number"],
#footerbwrap input[type="email"],
#footerbwrap input[type="url"],
#footerbwrap input[type="search"],
#footerbwrap input[type="tel"],
#footerbwrap input[type="color"],
#footerbwrap .uneditable-input{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width:96%;
	padding: 5px 2%;
}

#footerbwrap p,
#footerbwrap li,
#footerbwrap address,
#footerbwrap dd,
#footerbwrap blockquote,
#footerbwrap td,
#footerbwrap th,
#footerbwrap .textwidget, 
#sidebar p,
#sidebar li,
#sidebar address,
#sidebar dd,
#sidebar blockquote,
#sidebar td,
#sidebar th,
#sidebar .textwidget { 
	font-size:14px; 
	line-height:1.9em;
	font-family:'Abel',Verdana, Geneva, sans-serif; 
	font-weight: normal;
}

#footerbwrap .widget h2,
#footerbwrap .widget h3,
#footerbwrap p,
#footerbwrap li,
#footerbwrap address,
#footerbwrap dd,
#footerbwrap blockquote,
#footerbwrap td,
#footerbwrap th,
#footerbwrap .textwidget { 
	color:#fff;
}

#footerbwrap .copyrightpbt {
	padding: 0;
	margin-top:0;
}
#footerbwrap .widgetpbt {
	border-bottom: solid 1px #ff6644;
	padding: 0 0 10px 5px;
}
/* LOGO */

#logobwrap { 
	position:relative; 
	display:block;
	padding:30px 0 0 0; 
	line-height:1.8em; 
}
#logobwrap a { 
	font-family:'Allura',Verdana, Geneva, sans-serif; 
	font-size:70px; 
	color:#616161; 
	text-decoration:none; 
	text-align:left;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
} 
#logobwrap a:hover { 
	text-decoration:none;
	color:#ff664;
	border-bottom:none;
}
#logobwrap .site-description {
	font-family:'Abel',Verdana, Geneva, sans-serif; 
	font-size:14px; 
	display:block;
	text-align:center;
}

/* ====================== END SECTIONS ====================== */

/* ====================== START NAV ====================== */

/* MAIN NAV */

#mainmenupbt { 
	text-align:center; 
	float:left;
	width:980px;
	background-image: url(https://1.bp.blogspot.com/-DVyNRg3Xxk8/WR_aQTMm2PI/AAAAAAAAAIA/iCuXuekHPNQ4DJvFsxDNwrx9oL_3Xt8BgCLcB/s320/%25E3%2582%25AD%25E3%2583%25A3%25E3%2583%2597%25E3%2583%2581%25E3%2583%25A3.JPG);
}
#mainmenupbt ul { 
	list-style:none; 
	margin:0; 
	display:inline-block;
}
#mainmenupbt ul li {
	float:left; 
	position:relative; 
	display:block;
	text-align:right;
	padding-bottom:30px
}
#mainmenupbt ul li a   { 
	text-decoration:none; 
	display:block; 
	font-family:'Abel',Verdana, Geneva, sans-serif;
	font-size:14px; 
	z-index:9000; 
	margin:37px 15px 0 15px; 
	color:#616161; 
	-webkit-transition: all .3s linear; 
	-moz-transition: all .3s linear; 
	-o-transition: all .3s linear; 
	text-transform:uppercase;
}
#mainmenupbt ul li a:hover,
#mainmenupbt li:hover > a,
#mainmenupbt ul li.current-menu-item > a, 
#mainmenupbt ul li.current_page_item > a, 
#mainmenupbt ul li.current-menu-parent > a, 
#mainmenupbt ul li.current_page_ancestor > a, 
#mainmenupbt ul li.current-menu-ancestor > a { 
	color:#ff6644;
	margin-bottom:1px;
}

#mainmenupbt ul li.current-menu-item > a, 
#mainmenupbt ul li.current_page_item > a, 
#mainmenupbt ul li.current-menu-parent > a, 
#mainmenupbt ul li.current_page_ancestor > a, 
#mainmenupbt ul li.current-menu-ancestor > a { 
	border-bottom:dotted 1px;
	margin-bottom:1px;
}

#mainmenupbt .sf-sub-indicator { 
	padding:0 0 0 10px; 
	float:right; 
	font-size:10px;
}
/* END MAIN NAV */

/* SUBMENU */

#mainmenupbt ul ul:before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #ff6644;
	top: -11px;
	left: 15px;
	z-index: 1000;
}

#mainmenupbt ul ul { 
	display:none; 
	position: absolute; 
	top:80px; 
	left:15px; 
	background:#fff; 
	z-index:1000;
	width:100%;
	min-width:190px;
	z-index:1000;
	border-top:solid 3px #ff6644;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
 
#mainmenupbt ul ul li { 
	position:relative; 
	margin:0;
	padding:0;
	line-height:1em;
	text-transform:none;
	width:100%;
	min-width:190px;
}
#mainmenupbt ul ul li a{ 
	text-decoration:none; 
	text-align:left; 
	display:block; 
	border-top:solid 1px #ddd;
	border-bottom:none;
	padding:18px 15px;
	margin:0;
	font-family:'Abel',Verdana, Geneva, sans-serif; 
	text-transform:inherit; 
	text-shadow:inherit; 
	color:#333; 
	font-size:14px;
}

#mainmenupbt ul ul li a:hover, 
#mainmenupbt ul ul li.current-menu-item > a,
#mainmenupbt ul ul li.current_page_item > a, 
#mainmenupbt ul ul li.current_page_ancestor > a, 
#mainmenupbt ul ul li.current_page_ancestor > a, 
#mainmenupbt ul ul li.current-menu-ancestor > a { 
	border-top:solid 1px #ff6644;
	border-bottom:none;
	margin-bottom:0;
	background:#ff6644; 
	color:#fff; 
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0; }

#mainmenupbt ul ul li ul { 
	top:-3px; 
	left:192px; 
	border-top:solid 3px #c4c4c4;
}

#mainmenupbt ul ul li ul:before {
	display:none;
}

/* END SUBMENU */

/* ====================== END NAV ====================== */

/* ====================== START CONTENT ====================== */
.ad{
	width:850px;
	height:auto;
	border: 2px solid rgb(144, 144, 144);
}
.spimage{
	width:640;
	height:auto;
	border: 2px solid rgb(144, 144, 144);
}
.sosyal {
  margin: 50px auto;
}
.icon{
	vertical-align: middle;
}
.feedly {
  background-color: #6cc655;
  box-shadow: 0 4px 0 #5BBE40;
  text-shadow: 0 -1px -1px #1B3D82;
  
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 30px 21px;
}
a.feedly:hover{
	border-bottom:none;
}
.feedly:hover {
  background-color: #8BD278;
}
.feedly:active {
  top: 2px;
  box-shadow: 0 2px 0 #5BBE40;
}
.rss {
  background-color: #ff8c00;
  box-shadow: 0 4px 0 #FE8900;
  text-shadow: 0 -1px -1px #1B3D82;
  
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 30px 21px;
}
a.rss:hover{
	border-bottom:none;
}
.rss:hover {
  background-color: #FFA133;
}
.rss:active {
  top: 2px;
  box-shadow: 0 2px 0 #FE8900;
}
.pocket {
  background-color: #EF3F56;
  box-shadow: 0 4px 0 #ED2B42;
  text-shadow: 0 -1px -1px #1B3D82;
  
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 30px 21px;
}
a.pocket:hover{
	border-bottom:none;
}
.pocket:hover {
  background-color: #F1596B;
}
.pocket:active {
  top: 2px;
  box-shadow: 0 2px 0 #ED2B42;
}
.line {
  background-color: #00C300;
  box-shadow: 0 4px 0 #00B200;
  text-shadow: 0 -1px -1px #1B3D82;
  
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 30px 21px;
}
a.line:hover{
	border-bottom:none;
}
.line:hover {
  background-color: #00CC00;
}
.line:active {
  top: 2px;
  box-shadow: 0 2px 0 #00B200;
}
.facebook {
  background-color: #2e4a88;
  box-shadow: 0 4px 0 #1B3D82;
  text-shadow: 0 -1px -1px #1B3D82;
  
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 30px 21px;
}
a.facebook:hover{
	border-bottom:none;
}
.hatebu {
  background-color: #008fde;
  box-shadow: 0 4px 0 #0082CC;
  text-shadow: 0 -1px -1px #1B3D82;
  
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 30px 21px;
}
a.hatebu:hover{
	border-bottom:none;
}
a.twitter:hover{
	border-bottom:none;
}
a.google:hover{
	border-bottom:none;
}
.facebook:hover {
  background-color: #354F84;
}
.facebook:active {
  top: 2px;
  box-shadow: 0 2px 0 #1B3D82;
}
.hatebu:hover {
  background-color: #00A1FE;
}
.hatebu:active {
  top: 2px;
  box-shadow: 0 2px 0 #0082CC;
}
.twitter {
  background-color: #008DDE;
  box-shadow: 0 4px 0 #0078BD;
  
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 30px 21px;
}
.twitter:active {
  top: 2px;
  box-shadow: 0 2px 0 #0078BD;
}
.twitter:hover {
  background-color: #1397D8;
}
.google {
  background-color: #CC3622;
  box-shadow: 0 4px 0 #BA2714;
  
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 30px 21px;
}
.google:active {
  top: 2px;
	box-shadow: 0 2px 0 #BA2714;
}
.google:hover {
  background-color: #D04829;
}
.pin-article { 
	background:#fff; 
	margin-top:0px;
	margin-bottom:50px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	word-wrap: break-word
}
.pin-article article.article { 
	padding:45px;
}
.pin-article.span4 article.article { 
	padding:20px;
}
.row.masonry,
.pin-article.span4,
.pin-article.span6 { 
	margin-bottom:25px;
}
.pin-article .attachment p { 
	text-align:center;
}
.pin-article .attachment .entry-infopbt { 
	width:120px;
}
.pin-article .attachment .entry-infopbt .entry-datepbt { 
	margin:auto;
}

.pin-article article.article.link { 
	padding:0; 
}

.pin-article .category p,
.pin-article .search p { 
	margin:0;
}

.pin-article .category,
.pin-article .category p, 
.pin-article .search,
.pin-article .search p { 
	background:#333;
	color:#f1f1f1;
	font-size:21px;
	text-align:center
}
.pin-article .category p a {
	color:#fff;
}

.pin-article .wp-post-image {
	z-index:999;
}

.pin-container {
	overflow: hidden; 
	position: relative;
	height:auto;
	max-height:100%;
}
.pin-container:after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	bottom: 0px;
	left: 50%;
	margin-left:-10px;
	z-index:1000;
}

.pin-article h1.entry-title {
	font-size:38px;
	font-style: normal;
	font-weight: normal;
	margin:0 0 15px 0;
	line-height:1.2em;
	text-align:center;
	position:relative;
	color:#616161;
	word-wrap: break-word
}
.pin-article h1.entry-title a {
	color:#616161;
}
.pin-article h1.entry-title a:hover {
	color:#d14a2b;
}

.pin-article.span4 h1.entry-title {
	font-size:22px;
}

.pin-article.span4 .linepbt {
	margin:20px 0 20px 0;
}

.pin-article .container-fluid {
	padding:0;
	margin: 0 0 45px 0;
}
.pin-article .container-fluid:last-child {
	padding:0;
	margin: 0;
}

.article-header {
	font-family: 'Abel', sans-serif;
	margin:0 0 20px 0; 
	color:#000; 
	font-size:13px; 
	position:relative;
	text-align:center;
}
.widget-content{
padding-right:18px;
}
/* END COMMENT  */

/* START CONTACT FORM SHORTCODE / COMMENT FORM */
.contact-form-widget{
max-width:initial !important;
}
.contact-form-name,
.contact-form-email,
.form textarea {
	max-width:initial !important;
    width:98% !important;
　　height:initial !important;
	border: 1px solid #ddd;
	padding:6px 8px !important;
	border-radius: 4px;
	box-shadow: 1px 1px 2px rgba(0,0,0,.1) inset;
}
.contact-form-email-message{
	width:100%;
}
#searchformpbt {
	margin:0 !important;
}

form#searchformpbt #searchsubmit {
	display: inline-block;
	width: 37%;
	margin:0;
	padding: 5px 2%;
	display:none;
}

#searchformpbt .input-search {
	display: inline-block;
	width: 96%;
	margin:0;
	padding: 5px 2%;
}
#searchformpbt .input-search:hover, 
#searchformpbt .input-search:active, 
#searchformpbt .input-search:focus {
    outline:0px !important;
	-webkit-appearance:none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
#searchmenu {
	margin-left:20px !important;
}

form#searchmenu #searchsubmit {
	display: inline-block;
	width: 37%;
	margin:0;
	padding: 5px 2%;
	display:none;
}
#searchmenu input,.uneditable-input{
	width: 357px;
	height: 40px;
	padding-left:40px;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjQ4NyIgaGVpZ2h0PSI1MTIiIHZpZXdCb3g9IjAgMCA0ODcgNTEyIj48dGl0bGU+PC90aXRsZT48ZyBpZD0iaWNvbW9vbi1pZ25vcmUiPjwvZz48cGF0aCBmaWxsPSIjMDAwIiBkPSJNNDgwIDQxNmwtMTI0LjU2My0xMjQuNTYzYzE3Ljc4MS0yOS4wMzEgMjguNTYzLTYyLjg1OSAyOC41NjMtOTkuNDM4IDAtMTA2LjAxNi04Ni0xOTItMTkyLTE5Mi0xMDYuMDE2IDAtMTkyIDg1Ljk4NC0xOTIgMTkyIDAgMTA2IDg1Ljk4NCAxOTIgMTkyIDE5MiAzNi41NzggMCA3MC40MDYtMTAuNzgxIDk5LjQzOC0yOC41bDEyNC41NjMgMTI0LjVjOC43NSA4Ljc1IDIzLjI1IDguNjg4IDMyIDBsMzItMzJjOC43NS04Ljc1IDguNzUtMjMuMjUgMC0zMnpNMTkyIDMyMGMtNzAuNjg4IDAtMTI4LTU3LjMxMy0xMjgtMTI4czU3LjMxMy0xMjggMTI4LTEyOCAxMjggNTcuMzEzIDEyOCAxMjgtNTcuMzEzIDEyOC0xMjggMTI4eiI+PC9wYXRoPjwvc3ZnPg==);
	background-repeat:no-repeat;
	background-size:27px;
	background-position: 5px center;
}
#searchmenu .input-search {
	display: inline-block;
	width: 96%;
	margin:0;
	padding: 5px 2%;
}
#searchmenu .input-search:hover, 
#searchmenu .input-search:active, 
#searchmenu .input-search:focus {
    outline:0px !important;
	-webkit-appearance:none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
/* END CONTACT FORM SHORTCODE / COMMENT FORM */

/* START DEFAULT ELEMENTS */

article blockquote { 
	border-left: 4px solid #ff6644; 
	padding:0 35px; 
	position:relative; 
	margin-left:0px;
}

article blockquote p { 
	text-align:left; 
	line-height:1.6em; 	
	font-family: "Abel", Times, serif; 
	font-size:15px;
}
.entry-infopbt ul { 
	display:inline; 
	list-style:none;
}
.entry-infopbt li { 
	display:inline;
}
.entry-infopbt a { 
	display:inline;
	color:#616161;
}
.tags { 
	font-weight:bold;
	background:#fff;
	padding:0 29px;
	
}
.tags a { 
	font-weight:normal;
}
.linepbt { 
	border-top:dotted 1px #dadada;
	margin:20px 0;
}
#sidebar .linepbt { 
	margin:20px 0;
}
#masonry .span4 .linepbt {
	border:none;
}
.post-date {
	font-size:12px; 
	color:#fff; 
	text-align:left;
}
.day { 
	font-size:14px; 
	line-height:1.1em;
}
.archive { 
	margin:0;
}
.span4 .entry-infopbt,
.span4 .entry-infopbt.viewcommentspbt {
	width:auto;
	background:none;
}
.span4 .entry-infopbt .entry-authorpbt, 
.span4 .entry-infopbt .entry-datepbt, 
.span4 .entry-infopbt .entry-commentspbt,
.span4 .entry-infopbt .entry-audio, 
.span4 .entry-infopbt .entry-video,
.span4 .entry-infopbt .entry-standardpbt,
.span4 .entry-infopbt .entry-gallery{
	display:block;
	text-align:center;
	width:inherit;
	padding:inherit;
	margin:5px auto;
}

/* END DEFAULT ELEMENTS */
/* START DEFAULT STYLE */

.entry-tags { 
	font-family: 'Abel',Verdana, Geneva, sans-serif;
	font-size:14px; 
	border-bottom:solid 1px #ddd; 
	border-top:solid 1px #ddd; 
	position:relative; 
	font-weight:bold;
}
.entry-tags span { 
	font-weight:normal;
}
.entry-infopbt { 
	margin:-12px auto 0 auto; 
	background:#fff; 
	padding:0 10px; 
	text-align:center; 
	font-family: 'Abel',Verdana, Geneva, sans-serif;
	width:230px;
}
.entry-infopbt.viewcommentspbt { 
	width:500px;
}

.entry-infopbt i {
	color: #717171;
	margin: 0 10px;
	font-size:14px;
	line-height:21px
}
.entry-infopbt .entry-authorpbt,
.entry-infopbt .entry-datepbt,
.entry-infopbt .entry-commentspbt,
.entry-infopbt .entry-standardpbt { 
	width:90px;
}

/* END DEFAULT STYLE */

/* START IMAGE STYLE */

img.size-auto, 
img.size-full, 
img.size-large, 
img.size-medium, 
.attachment img {
	max-width:100%; 
	height:auto;
}
.alignleft,
img.alignleft {
	display:inline;
	float:left;
	margin-right:24px;
	margin-top:4px;
}
.alignright, 
img.alignright {
	display:inline;
	float:right;
	margin-left:24px;
	margin-top:4px;
}
div.aligncenter, 
img.aligncenter {
	display: block; 
	margin-left: auto !important; 
	margin-right: auto !important; 
	float:none;
}
img.alignleft, 
img.alignright, 
img.aligncenter {
	margin-bottom:12px;
}

/* END IMAGE STYLE */

/* ====================== END CONTENT ====================== */

/* ====================== START WIDGET ====================== */

.widgetpbt .widget {
	padding:20px 0 5px 0;
}

/* ====================== END WIDGET ====================== */

/* SOCIAL ICONS */
.tipsy { 
	padding: 5px; 
	font-size: 10px; 
	font-family: 'Abel',Verdana, Geneva, sans-serif;
	opacity: 0.8; 
	filter: alpha(opacity=80); 
	background-repeat: no-repeat;  
	background-image: url(http://4.bp.blogspot.com/-8ASmHurcAyc/U52AkDKM_hI/AAAAAAAAKUM/uiQT6IOM3aA/s1600/tipsy.gif);
}
.tipsy-inner { 
	padding: 5px 8px 4px 8px; 
	background-color: black; 
	color: white; 
	max-width: 200px; 
	text-align: center;
}
.tipsy-inner { 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
	border-radius:3px;
}
.tipsy-north { 
	background-position: 
	top center;
}
.tipsy-south { 
	background-position: bottom center; 
	margin-top:-4px;
}
.tipsy-east { 
	background-position: right center;
}
.tipsy-west { 
	background-position: left center;
}

/* END SOCIAL ICONS */

@media screen and (min-width : 0px) and (max-width : 1081px)  {	
.ad{
	width:940px;
	height:auto;
	border: 2px solid rgb(144, 144, 144);
}
.spimage{
	width: 820px;
	height: auto;
	border: 2px solid rgb(144, 144, 144);
}
.article{
	margin-top:100px;
}
.pbtthumbimg {
  width:800px;
}
#footerbwrap{
	width:980px;
}
.pin-article article.article { 
	padding:32px;
}
.pin-article h1.entry-title {
	font-size:60px;
}
code,
body,
p, 
li, 
address, 
dd, 
blockquote, 
td, 
th,
.textwidget { 
	font-size:35px; 
	line-height:1.5em;
	font-family:'Abel',Verdana, Geneva, sans-serif; 
	font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
dl,
ul,
ol { 
	margin:0.8em 0 0.3em;
}
h1,
h2,
h3,
h4,
h5,
h6 { 
	font-family:'Lusitana',Verdana, Geneva, sans-serif; 
	font-weight: normal;
}
h1 {
	font-size: 60px;
}
h2 {
	font-size: 55px;
}
h3 {
	font-size: 47px;
}
h4 {
	font-size: 39px;
	margin:15px auto;
}
h5 {
	font-size: 33px;
}
h6 {
	font-size: 30px;
}
}
/* Comments----------------------------------------------- */
#comments {
	padding:20px 45px 0px 45px;
	background:#fff; 
	margin-bottom:20px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	margin-left:0px;
	margin-right:-15px;
}

#comments h4 {
    font-size:22px;
    margin-bottom:10px;
}

.deleted-comment {
  font-style: italic;
  color: gray;
}

#blog-pager-newer-link {
  float: left;
}

#blog-pager-older-link {
  float: right;
}

#blog-pager {
  text-align: center;
  padding:5px;
  margin: 10px 0;
}

.feed-links {
  clear: both;
}

.comment-form {
}

#navbar-iframe {
  height: 0;
  visibility: hidden;
  display: none;
}

.separator a[style="margin-left: 1em; margin-right: 1em;"] {margin-left: auto!important;margin-right: auto!important;}

.PopularPosts .widget-content ul li {
  padding:6px 0px;
}

.reaction-buttons table{
  border:none;
  margin-bottom:5px;
}

.reaction-buttons table, .reaction-buttons td{
  border:none !important;
}

.pbtthumbimg {
  float:none;
  margin:0px 0px 10px 0px;
  padding:0px !important;
  border: 2px solid rgb(144, 144, 144);
  background:none;
  max-width:100%;
  height:auto;
}

body {
  background-color:#f3f3f3;
  background-image:url(http://3.bp.blogspot.com/-54aqzLBx-kI/U52cxqYSe1I/AAAAAAAAKXU/tQTfrc92r3M/s1600/pattern1.png);
  background-repeat:repeat;
  background-position:top left;
  background-attachment:fixed;
}

.footercrpbt {
  font-size:10px !important;
}

.footercrpbt a {
  font-size:10px !important;
}

.footercrpbt a:hover {
  font-size:10px !important;
}
.pageda{
	padding:0 45px 0px 45px !important;
}
